{{- $gitConfigName := promptString "[gitconfig] name" -}}
{{- $gitConfigEmail := promptString "[gitconfig] email" -}}
{{- $gitConfigUseWindowsGitCredentialManager := promptBool "[gitconfig] use Windows git credential manager? [y/n]" -}}
[data.gitconfig]
	name = {{ $gitConfigName | quote }}
	email = {{ $gitConfigEmail | quote }}
    useWindowsGitCredentialManager = {{ $gitConfigUseWindowsGitCredentialManager }}

{{ $gpgKey := promptString "[gpg] key" -}}
[data.gpg]
	key = {{ $gpgKey | quote }}

{{ $supportBidi := promptBool "[bidi] enable bidi isolate? [y/n]" -}}
[data.bidi]
	enabled = {{ $supportBidi }}
