{{- $gitConfigName := promptString "[gitconfig] name" -}}
{{- $gitConfigEmail := promptString "[gitconfig] email" -}}
[data.gitconfig]
	name = {{ $gitConfigName | quote }}
	email = {{ $gitConfigEmail | quote }}

{{ $gpgKey := promptString "[gpg] key" -}}
[data.gpg]
	key = {{ $gpgKey | quote }}
