[user]
	name = {{ .gitconfig.name }}
	email = {{ .gitconfig.email }}
[core]
	excludesfile = ~/.gitignore
{{ if .gpg.key }}	signingkey = {{ .gpg.key }}{{ end }}
[pull]
	ff = only
[push]
	autoSetupRemote = true
[commit]
	gpgsign = {{ if .gpg.key }}true{{ else }}false{{ end }}
[tag]
	gpgsign = {{ if .gpg.key }}true{{ else }}false{{ end }}
[init]
	defaultBranch = main
[diff]
	algorithm = patience
[merge]
    conflictstyle = diff3
[fetch]
    prune = true
