# If not running interactively, don't do anything
[[ $- != *i* ]] && return

# bash private
if [ -e $HOME/.bash_private ]; then
    source $HOME/.bash_private
fi

# history
export HISTFILESIZE=100000
export HISTSIZE=100000
export PROMPT_COMMAND='history -a'
shopt -s histappend

# terminal
export TERMINAL=xterm
export KEYTIMEOUT=1

# prompt
PS1='\[\033[0;34m\][\w]\[\033[00m\] '

{{ if eq .chezmoi.os "linux" }}
# ls colors
alias ls='ls --color=auto'
{{ end }}

# vim everywhere
set -o vi
export EDITOR=aretext
export GIT_EDITOR=aretext
export SUDO_EDITOR=/usr/bin/vim

# git aliases
alias gb='git branch'
alias gco='git checkout'

# git completions
source $HOME/.git-completion.bash
__git_complete gb _git_branch
__git_complete gco _git_checkout

# scripts
export PATH="$HOME/bin:$PATH"

{{ if eq .chezmoi.os "darwin" }}
export BASH_SILENCE_DEPRECATION_WARNING=1

# homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"
export PATH="/opt/homebrew/bin:$PATH"

# xdg config
export XDG_CONFIG_HOME=$HOME/.config
{{ end }}

# python interpreter enable readline and vi-mode
export PYTHONSTARTUP=~/.pythonrc

# rust
if [ -e $HOME/.cargo/env ]; then
    source $HOME/.cargo/env # rustup
else
    export PATH=$PATH:$HOME/.cargo/bin
fi

# go binaries
export PATH=$PATH:/usr/local/go/bin:$HOME/go/bin

# fuzzy find
export FZF_DEFAULT_COMMAND='rg --files'

# gospelunk
goindex () {
    gospelunk index -i -t $@
}

gofind () {
    gospelunk find -i -f "{{"-line={{.LineNum}} {{.Path|RelPath}} {{.Kind}} {{.Name}}"}}" $@ \
    | fzf \
    | cut -d " " -f 1-2 \
    | xargs -r aretext
}

# devlog
alias dle="devlog.py edit"
alias dlt="devlog.py tail | less"
alias todo="devlog.py todo"

# aretext
alias at="aretext"

# kubectl
if command -v kubectl >/dev/null 2>&1; then
    source <(kubectl completion bash)
    alias k=kubectl
    complete -F __start_kubectl k
fi

{{ if eq .chezmoi.os "linux" }}
# firefox / wayland
export MOZ_ENABLE_WAYLAND=1
{{ end }}

{{ if .gpg.key }}
# gpg-agent
export GPG_TTY=$(tty)
gpg-connect-agent updatestartuptty /bye >/dev/null
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
gpgconf --launch gpg-agent
{{ else }}
# ssh keychain
if [ -f "$HOME/.ssh/id_ed25519" ]; then
    eval $(keychain --eval --timeout 2880 --quiet id_ed25519)
fi
if [ -f "$HOME/.ssh/id_rsa" ]; then
    eval $(keychain --eval --timeout 2880 --quiet id_rsa)
fi
{{ end -}}

# start tmux or attach to existing session
if [ -z "$TMUX" ]; then
    tmux attach -t default || tmux new -s default
fi
