[user]
	name = {{ .gitconfig.name }}
	email = {{ .gitconfig.email }}
[core]
	excludesfile = ~/.gitignore
{{ if .gpg.key }}	signingkey = {{ .gpg.key }}{{ end }}
[pull]
	ff = only
[push]
	autoSetupRemote = true
[commit]
	gpgsign = {{ if .gpg.key }}true{{ else }}false{{ end }}
[tag]
	gpgsign = {{ if .gpg.key }}true{{ else }}false{{ end }}
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[merge]
    conflictstyle = diff3
[fetch]
    prune = true
{{ if .gitconfig.useWindowsGitCredentialManager }}
[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[credential "https://dev.azure.com"]
    useHttpPath = true
{{ end }}
