#!/usr/bin/env sh
set -e

{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
echo "Installing system packages (apt)"
sudo apt update
sudo apt install \
    vim \
    wget \
    curl \
    git \
    tmux \
    keychain \
    tree \
    jq \
    ripgrep \
    fzf \
    htop \
    python3 \
    python3-pip
{{ else if eq .chezmoi.osRelease.id "fedora" -}}
echo "Installing system packages (dnf)"
sudo dnf update
sudo dnf install \
    vim \
    wget \
    curl \
    git \
    tmux \
    tree \
    jq \
    sd \
    ripgrep \
    fzf \
    htop \
    python3
{{ end -}}

{{ else if eq .chezmoi.os "darwin" -}}
echo "Installing system packages (brew)"
brew install --quiet \
    coreutils \
    bash \
    vim \
    wget \
    curl \
    git \
    tmux \
    tree \
    jq \
    sd \
    ripgrep \
    fzf \
    gnupg \
    python3
{{ end -}}

echo "Installing go"
if which go; then
    echo "go is already installed"
    go version
else
    export GO_VERSION=1.18.3
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}
    export GO_SHA256SUM=956f8507b302ab0bb747613695cdae10af99bbd39a90cae522b7c0302cc27245
{{- else if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") }}
    export GO_SHA256SUM=40ecd383c941cc9f0682e6a6f2a333539d58c7dea15c842434d03afafe2f7242
{{- end }}
    export GO_OS={{ .chezmoi.os }}
    export GO_ARCH={{ .chezmoi.arch }}
    export GO_TARBALL="go${GO_VERSION}.${GO_OS}-${GO_ARCH}.tar.gz"
    (cd /tmp && rm -rf "$GO_TARBALL" && wget https://go.dev/dl/${GO_TARBALL} && echo "$GO_SHA256SUM  $GO_TARBALL" | sha256sum --check --status)
    sudo tar -C /usr/local -xzf "/tmp/$GO_TARBALL"
    export PATH=$PATH:/usr/local/go/bin:$HOME/go/bin
fi

echo "Installing aretext"
if which aretext; then
    echo "aretext is already installed"
else
    (cd /tmp && git clone https://github.com/aretext/aretext && cd aretext && make install)
fi
