#!/usr/bin/env sh
set -e

{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
echo "Installing system packages (apt)"
sudo apt update
sudo apt install \
    vim \
    wget \
    curl \
    git \
    tmux \
    keychain \
    tree \
    jq \
    ripgrep \
    fzf \
    htop \
    python3 \
    python3-pip
{{ else if eq .chezmoi.osRelease.id "fedora" -}}
echo "Installing system packages (dnf)"
sudo dnf update
sudo dnf install \
    vim \
    wget \
    curl \
    git \
    make \
    tmux \
    tree \
    jq \
    sd \
    ripgrep \
    fzf \
    htop \
    python3
{{ end -}}

{{ else if eq .chezmoi.os "darwin" -}}
echo "Installing system packages (brew)"
brew install --quiet \
    coreutils \
    bash \
    vim \
    wget \
    curl \
    git \
    tmux \
    tree \
    jq \
    sd \
    ripgrep \
    fzf \
    gnupg \
    python3
{{ end -}}

echo "Installing go"
if which go; then
    echo "go is already installed"
    go version
else
    export GO_VERSION=1.18.5
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") }}
    export GO_SHA256SUM=9e5de37f9c49942c601b191ac5fba404b868bfc21d446d6960acc12283d6e5f2
{{- else if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") }}
    export GO_SHA256SUM=7a27dbe31c9fdd98be83ed6ce76fa5474044a2d960e2f9db8fa92b256dda2e58
{{- end }}
    export GO_OS={{ .chezmoi.os }}
    export GO_ARCH={{ .chezmoi.arch }}
    export GO_TARBALL="go${GO_VERSION}.${GO_OS}-${GO_ARCH}.tar.gz"
    (cd /tmp && rm -rf "$GO_TARBALL" && wget https://go.dev/dl/${GO_TARBALL} && echo "$GO_SHA256SUM  $GO_TARBALL" | sha256sum --check --status)
    sudo tar -C /usr/local -xzf "/tmp/$GO_TARBALL"
    export PATH=$PATH:/usr/local/go/bin:$HOME/go/bin
fi

echo "Installing aretext"
if which aretext; then
    echo "aretext is already installed"
else
    (cd /tmp && rm -rf aretext && git clone https://github.com/aretext/aretext && cd aretext && make install)
fi
